//menu-list
.menu-list {
    width: 230px;

    .menu-item {
        margin-left: 0 !important;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// menu item
.menu-item {
    width: 100%;
    color: var(--text-color);
    justify-content: flex-start !important;
    border-radius: 0;
    padding: 11px 16px;
    line-height: 1.8rem;
    font-weight: 600;

    &.separate {
        border-top: 1px solid rgb(206, 204, 204);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    cursor: default;
}

.back-btn {
    width: 50px;
    height: 100%;
    background-color: transparent;
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
